profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true
    }
}
process {
    cpus = 4
    memory = 4.GB

    withLabel: vep {
        container = 'ensemblorg/ensembl-vep'
        containerOptions = '--volume /tests/VEP:/opt/vep/.vep:rw'
        containerOptions = '--user root'
    }
}
