profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true
    }
}
process {
    cpus = 4
    memory = 4.GB
    
    withLabel: vep {
        container = 'djevtic/vepensembl'
        containerOptions = '--volume /tests/VEP:/opt/vep/.vep:rw'
        containerOptions = '--user root'
    }
    withLabel: bwa {
        container = 'djevtic/bwaandfastqc'
    }
    withLabel: gatk {
        container = 'broadinstitute/gatk'
    }
}
