profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true
    }
}
process {
    cpus = 4
    memory = 4.GB

    withLabel: vep {
        container = 'djevtic/vepensembl'
        containerOptions = '--volume /tests/VEP:/opt/vep/.vep:rw'
        containerOptions = '--user root'
    }
    withLabel: bwa {
        container = 'djevtic/bwaandfastqc'
    }
    withLabel: gatk {
        container = 'broadinstitute/gatk'
    }
    withLabel: samtools {
        container = 'samtools_docker:1.1'
    }
    withLabel: qualimap {
        container = 'pegi3s/qualimap:latest'
    }
    withLabel: snpEff {
        container = 'snpeff:2.1'
    }
}
