profiles {
    standard {
        process.executor = 'local'
        docker.enabled = true
    }
}
process {
    cpus = 4
    memory = 4.GB
    
    withLabel: vep {
        container = 'ensemblorg/ensembl-vep'
    }
    withLabel: bwa {
        container = 'djevtic/bwaandfastqc'
    }
    withLabel: gatk {
        container = 'broadinstitute/gatk'
    }
}
